# Important !!!!

        1.Pipeline takes list of tuples  Pipeline([   ('',fun()) , ('',fun())  ])
        2.df.itertuples() works with 2 columns
        3.for stopwords we need to create a list of stopwords using
                from sklearn.preprocessing import text
                stopwords = [text.ENGLISH_STOP_WORDS]

# 1 . Movie review

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Natural language Processing/UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv',sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [3]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df['label'].value_counts()

neg    983
pos    982
Name: label, dtype: int64

In [6]:
# checking for blank values in message

blank = []

for index,label,review in df.itertuples():
    if type(review)==str:
        if review.isspace():
            blank.append(index)

blank

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [7]:
df.drop(blank,inplace=True)

In [8]:
df.shape

(1938, 2)

In [9]:
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [10]:
X = df['review']
y = df['label']

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7 , random_state=101)

In [12]:
# Pipeline takes list of tuples  Pipeline([   ('',fun()) , ('',fun())  ])

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline


txt_clf_lr = Pipeline([('tfidf',TfidfVectorizer()),
                       ('lr',LogisticRegression())])

txt_clf_svc = Pipeline([('tfidf',TfidfVectorizer()),
                       ('svc',LinearSVC())])

txt_clf_nb = Pipeline([('tfidf',TfidfVectorizer()),
                       ('nb',MultinomialNB())])

In [14]:
txt_clf_lr.fit(X_train,y_train)
txt_clf_svc.fit(X_train,y_train)
txt_clf_nb.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('nb', MultinomialNB())])

In [15]:
y_pred_lr = txt_clf_lr.predict(X_test)
y_pred_svc = txt_clf_svc.predict(X_test)
y_pred_nb = txt_clf_nb.predict(X_test)

In [16]:
from sklearn.metrics import classification_report

print(classification_report(y_pred_lr ,y_test))

              precision    recall  f1-score   support

         neg       0.81      0.82      0.81       293
         pos       0.81      0.81      0.81       289

    accuracy                           0.81       582
   macro avg       0.81      0.81      0.81       582
weighted avg       0.81      0.81      0.81       582

In [17]:
print(classification_report(y_pred_nb ,y_test))

              precision    recall  f1-score   support

         neg       0.84      0.80      0.82       309
         pos       0.79      0.83      0.81       273

    accuracy                           0.81       582
   macro avg       0.81      0.82      0.81       582
weighted avg       0.82      0.81      0.81       582

In [18]:
print(classification_report(y_pred_svc ,y_test))

              precision    recall  f1-score   support

         neg       0.85      0.85      0.85       297
         pos       0.84      0.85      0.84       285

    accuracy                           0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [19]:
txt_clf_svc.predict(['Great movie for boredom'])

array(['neg'], dtype=object)

#  SMS SPAM ? HAM

In [20]:
from sklearn.feature_extraction import text
stopwords = [text.ENGLISH_STOP_WORDS]

In [21]:
df = pd.read_csv('../Natural language Processing/UPDATED_NLP_COURSE/TextFiles/smsspamcollection.tsv',sep='\t')
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [22]:
# Dropping because df.itertuples() works only when 2 columns ie label & message
df.drop(['length','punct'],1,inplace=True)

In [23]:
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
df.shape

(5572, 2)

In [25]:
df.isnull().sum()

label      0
message    0
dtype: int64

In [26]:
#Checking for blank spaces in message
blanks = []
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)
blanks

[]

In [27]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [28]:
X = df['message']
y = df['label']

In [29]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.7 , random_state=101)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier

txt_clf_tree =  Pipeline([('tfidf',TfidfVectorizer(stop_words=stopwords)),
                          ('tree',DecisionTreeClassifier())])

txt_clf_gb = Pipeline([('tfidf',TfidfVectorizer(stop_words=stopwords)),
                        ('gbc',GradientBoostingClassifier()) ])

In [31]:
txt_clf_tree.fit(X_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(stop_words=[frozenset({'a', 'about', 'above',
                                                        'across', 'after',
                                                        'afterwards', 'again',
                                                        'against', 'all',
                                                        'almost', 'alone',
                                                        'along', 'already',
                                                        'also', 'although',
                                                        'always', 'am', 'among',
                                                        'amongst', 'amoungst',
                                                        'amount', 'an', 'and',
                                                        'another', 'any',
                                                        'anyhow', 'anyone',
                                                        'anything', 'anyway',
                                                        'anywhere', ...})])),
                ('tree', DecisionTreeClassifier())])

In [32]:
y_pred_tree = txt_clf_tree.predict(X_test)
y_pred_tree[:10]

array(['ham', 'spam', 'ham', 'ham', 'ham', 'ham', 'ham', 'ham', 'ham',
       'ham'], dtype=object)

In [33]:
print(classification_report(y_test, y_pred_tree))

              precision    recall  f1-score   support

         ham       0.98      0.98      0.98      1475
        spam       0.88      0.82      0.85       197

    accuracy                           0.96      1672
   macro avg       0.93      0.90      0.91      1672
weighted avg       0.96      0.96      0.96      1672

In [34]:
txt_clf_gb.fit(X_train,y_train)

Pipeline(steps=[('tfidf',
                 TfidfVectorizer(stop_words=[frozenset({'a', 'about', 'above',
                                                        'across', 'after',
                                                        'afterwards', 'again',
                                                        'against', 'all',
                                                        'almost', 'alone',
                                                        'along', 'already',
                                                        'also', 'although',
                                                        'always', 'am', 'among',
                                                        'amongst', 'amoungst',
                                                        'amount', 'an', 'and',
                                                        'another', 'any',
                                                        'anyhow', 'anyone',
                                                        'anything', 'anyway',
                                                        'anywhere', ...})])),
                ('gbc', GradientBoostingClassifier())])

In [35]:
y_pred_gb = txt_clf_gb.predict(X_test)
y_pred_gb[:10]

array(['ham', 'spam', 'ham', 'ham', 'ham', 'ham', 'ham', 'ham', 'ham',
       'ham'], dtype=object)

In [36]:
print(classification_report(y_test, y_pred_gb))

              precision    recall  f1-score   support

         ham       0.97      1.00      0.98      1475
        spam       0.97      0.79      0.87       197

    accuracy                           0.97      1672
   macro avg       0.97      0.89      0.93      1672
weighted avg       0.97      0.97      0.97      1672